@import './variables';

ul,
ol {
  list-style-type: none !important;
  margin: 0 !important;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0 !important;
}


input {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
}

input[type="number"] {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}

button {
  outline: none;
  background-color: none;
  border: none;
  color: light;
}

.row {
  padding: 0 !important;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding: 0 !important;
}
