label {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
}

.btn-icon {
    padding: $p-xs;
    border: none !important;
    outline: none !important;
    transition: color 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    &:active {
        transform: scale(0.9);
    }
    &:hover {
        color: $primary !important;
    }
}


.btn-icon-sm {
    @extend .btn-icon;
    padding: 0 !important;
    line-height: 0 !important;
}